body {
    font-family: 'Ubuntu', sans-serif;
}

.petFoodOutput {
    width: 40%;
    height: 400px;
    margin: 5%;
    text-align: center;
    border: 5px groove #2E8A5F;
    float: left;
}

img#cat-and-dog {
    display: block;
    margin: 5% auto;
    border: 4px inset #2E8A5F;
}

div#dogContent {
}

.active {

}

h1 {
    text-align: center;
}

span#hashtag-squad {
    font-family: 'Droid Serif', serif;
    font-weight: bold;
    font-style: italic;
    color: #2E8A5F;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.2em;
    padding: 0 2%;
}

#dogContent, #catContent {
    margin: 1em auto;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}